body {
	font: 20px Courier new;
	line-height: 1.8;
	color: #f5f6f7;
}

p {
	font-size: 16px;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.row{
  display: flex;
  justify-content: center;
}

.margin {
	margin-bottom: 45px;
}



.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 4px;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}




.bg-1 { 
	background-color: #1abc9c; /* Verde */
	color: #ffffff;
	margin-top: 50px
}

/* BURBUJA DIALOGO INICIO */
/*
.quote-bubble {
	border-style: double;
	border-width: 5px;
	border-radius: 25px;
}

*/
.burbuja-dialogo {
	position: relative;
	width: 600px;
	height: auto;
	padding: 20px;
	/*background: #FFFFFF;*/
	border: #000000 solid 2px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.burbuja-dialogo:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 80%;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #1abc9c transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.burbuja-dialogo:before {
	content: "";
	position: absolute;
	bottom: -17.5px;
	left: calc(80% - 3px);
	border-style: solid;
	border-width: 18px 18px 0;
	border-color: #000000 transparent;
	display: block;
	width: 0;
	z-index: 0;
}

/* QUOTE BUBBLE FIN */




.bg-2 { 
	background-color: #2b506e; /* #474e5d;  gris oscuro, esta bueno */
	color: #ffffff;
	position:relative;
}

.bg-tablas-2 { 
	background-color: #2b506e; /* #474e5d;  gris oscuro, esta bueno */
	color: #000000;
}

.tarjetas-est { 
	background-color: LightYellow; /* Blanco */
	color: #000000;
	border-left: 30px solid Tomato;
	padding: 15px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjetas-est img {
	width:100%;
	max-width:100px;
	float:left;
	margin:10px;
}

.tarjetas-est hr {
	border: 1px solid Tomato;
}

.tarjetas-est h4 {
	text-align: center;
	font-weight: bold;
}




.bg-3 { 
	background-color: Coral; /* Blanco */
	color: #ffffff;
	position:relative;
}

.bg-tablas-3 { 
	background-color: Coral; /* Blanco */
	color: #000000;
}

.tarjetas-exp { 
	background-color: #ebebe0; /* Blanco */
	color: #000000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.bg-4 { 
	background-color: #2f2f2f; /* Gris oscuro */
	color: #ffffff;
}




.pie-pag {
	position: fixed;
	padding-left: 5px;
	right: 50%;
	bottom: 0;
	margin: auto;
	display: block;
	border-radius: 50%;
	border: 4px solid #337bb7;
	width: 75px;
    height: 75px; 
	text-align: center;
}

.btn-top {
	padding-left: 4px;
}

/*
.btn-top {
	display: block;
	border-radius: 50%;
	border: 4px solid #337bb7;
	width: 90px;
    height: 90px; 
	text-align: center;
	padding-left: 3px;
}
.btn-next {
	display: block;
	border-radius: 50%;
	border: 4px solid #337bb7;
	width: 40px;
    height: 40px; 
	text-align: center;
	padding-left: 3px;
}
*/




/* EFECTO PARALLAX INICIO */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.bgimg-1 {
	background-image: url("img/q-brand-graphic-design.jpg");
	min-height: 500px;
}

.bgimg-2 {
	background-image: url("img/365728-636190610546181732-16x9.jpg");
	min-height: 500px;
}

.bgimg-3 {
	background-image: url("img/175129-636271814847362281-16x9.jpg");
	min-height: 200px;
}

.bgimg-4 {
	background-image: url("img/AAEAAQAAAAAAAA0AAAAAJDU3NThmZGVlLTYwMjctNDdkNy04NmFkLTRkMzg1ZTBlNjhkOA.jpg");
	min-height: 500px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

/* DESACTIVAR PARALLAX PARA TABLETS Y CELULARES */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
	
/* EFECTO PARALLAX FIN */


